.effect-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}
.effect {
  padding: 100px;
}
.effect__img {
  width: 25%;
  height: auto;
}

.effect__img--is-enhanced {
  visibility: hidden;
}

.section__copy {
  font-size: 90px;
}
