@font-face {
  font-family: "Metric-Medium";
  font-style: normal;
  src: url("./Metric-Medium.otf");
}
@font-face {
  font-family: "Metric-Semibold";
  font-style: normal;
  src: url("./Metric-Semibold.otf");
}
html,
body {
  font-family: "Metric-Medium";
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: none;
  /* background-color: rgb(122,222,41); */
}
canvas {
  font-family: "Metric-Semibold";
}
